@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap');  /* à télécharger pour optimiser le site */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0D0D;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #0D0D0D;
  }
}

.homepage-background {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Modification de l'image de background */
.homepage-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/uploads/webp/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px); /* Ajustement de la valeur du blur */
  z-index: -1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Kaisei Opti', Arial, Helvetica, sans-serif;
}
